@model IEnumerable<ApplicationUser>
<h2>Show All Sales Reps</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning active">Edit</a>

                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger active">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>